@media(max-width:1024px){
    .nav{
        background-color: aquamarine;   
        width: 400px;  
        margin-right: auto; 
       
    }
      
    .section1{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .box{
        /* max-width: 400px; */
        width: 50%;
    }
   
}
@media (max-width:768px){
    .nav{
        display: none;
    }
    .fa-bars{
        display: block;
        margin-right: 100px;
    }
    .head{
        background-color: aqua;
    }
    .box{
        width: 90%;
        margin:auto;
    }
}
@media(max-width:480px){

}
@media(max-width:320px){
    .gilaki{
       padding: 0 auto;
    }

}

